html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  background-color: #b4d3d3;
  margin: auto 0;
  font-size: 1rem; }
  body h1 {
    font-family: 'OrangeBlossoms';
    text-align: center;
    font-size: 4rem; }
  body p {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
    margin: 2%;
    padding: 1rem; }

.logo {
  text-align: center; }

nav {
  background-color: #2f4d51;
  color: white;
  width: 100%;
  margin-bottom: 3%;
  padding: 1rem;
  display: inline-block;
  text-align: center; }
  nav ul {
    list-style-type: none;
    margin: 5px; }
    nav ul li {
      padding-bottom: 1rem; }
      nav ul li a {
        text-decoration: none;
        font-size: 1rem;
        font-family: sans-serif;
        color: white; }

footer {
  text-align: center;
  color: white;
  background-color: #4b1e2c; }

.footernav ul {
  display: inline;
  text-align: center;
  display: flex;
  margin: 5px;
  padding: 1.5rem; }

.footernav li {
  width: 20%;
  background-color: #4b1e2c;
  list-style-type: none;
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }
  .footernav li a {
    text-decoration: none;
    margin-top: 10px;
    color: white; }

.divider {
  width: 100%;
  height: 20px;
  background-color: #2f4d51; }

.images {
  text-align: center;
  background-color: #4b1e2c;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  width: 100%; }
  .images img {
    width: 50%;
    height: auto;
    margin: 2%; }

.homepagepics {
  background-color: #1e2f33;
  text-align: center;
  margin-top: 40px;
  width: 100%; }
  .homepagepics img {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 55%;
    height: auto; }

.divider2 {
  width: 100%;
  height: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #4b1e2c; }

.aboutimg {
  width: auto;
  background-color: #2f4d51;
  padding: 0.5rem;
  text-align: center; }
  .aboutimg img {
    width: 50%;
    height: auto;
    padding: 1rem;
    margin: 2rem;
    background-color: #003039; }

.aboutimg2 {
  width: auto;
  padding: 0.5rem;
  text-align: center; }
  .aboutimg2 img {
    width: 50%;
    height: auto;
    padding: 1rem;
    margin: 2rem;
    background-color: #003039; }

.pvimages {
  text-align: center;
  background-color: #1e2f33;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%; }
  .pvimages img {
    width: 50%;
    height: auto;
    margin: 2%; }

.videorow p {
  text-align: center;
  font-size: 2rem; }

.videorow .columnvideo {
  padding: 1rem;
  margin: 0 auto; }
  .videorow .columnvideo iframe {
    width: 100%;
    height: 500px; }

.dimages {
  text-align: center;
  background-color: #1e2f33;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  width: 100%; }
  .dimages img {
    width: 50%;
    height: auto;
    margin: 2%; }

form {
  background-color: #2f4d51;
  border: none;
  font-family: sans-serif;
  color: white;
  margin: auto;
  padding: 1rem;
  width: 98%;
  align-self: center; }

fieldset {
  border: none;
  width: 100%;
  padding: 0;
  margin: 0; }

input[type=text],
select,
textarea {
  width: 100%; }

input[type=submit] {
  background-color: #1e2f33;
  color: white;
  height: 50px;
  width: 200px;
  border: none;
  cursor: pointer; }

.buttons {
  padding: 10px 0 10px 4px;
  margin: 0px auto; }

input[type=submit]:hover {
  background-color: white;
  color: black; }

label {
  display: block;
  padding: 10px 0 10px 4px; }

input,
textarea {
  width: 100%;
  padding: 0.5rem; }

fieldset:nth-child(4) input {
  width: auto; }

.map-wrapper {
  padding: 2rem; }

iframe {
  background-color: #003039;
  padding: 1rem;
  width: 100%;
  display: block; }

@media all and (min-width: 60rem) {
  nav {
    background-color: #2f4d51;
    color: white;
    width: 100%;
    margin-bottom: 3%;
    padding: 1rem;
    text-align: center;
    width: 100%;
    height: 60px;
    float: left;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }
    nav ul li {
      float: left;
      width: 20%; }
  .images {
    float: left; }
    .images img {
      width: 25%; }
  .homepagepics {
    float: left; }
    .homepagepics img {
      padding: 1rem;
      width: 40%; }
  .column {
    float: left;
    width: 50%;
    padding: 1rem; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .aboutimg img {
    width: 40%; }
  .aboutimg2 img {
    width: 40%; }
  .pvimages {
    float: left; }
    .pvimages img {
      width: 25%; }
  .columnvideo {
    float: left;
    width: 50%;
    padding: 1rem; }
  .videorow:after {
    content: "";
    display: table;
    clear: both; }
  .design .dimages {
    float: left; }
    .design .dimages img {
      padding-top: 5rem;
      width: 45%; }
  .contact_column {
    float: left;
    width: 50%; }
  .contact_page_columns:after {
    content: "";
    display: table;
    clear: both; }
  .contact_column {
    float: left;
    width: 50%; }
  .contact_page_columns:after {
    content: "";
    display: table;
    clear: both; }
  .map-wrapper {
    padding-top: 0; } }
